/.vs/
bin/
obj/

*.nupkg
*.snupkg

*.suo
*.user
*.sln.docstates
*.csproj.user

*.dll
*.exe

node_modules/
packages/
/.vs/MyPlanner/v17/.suo
/.vs/MyPlanner/v17/.futdcache.v2
/.vs/MyPlanner/FileContentIndex/72461055-77aa-417c-9026-65041b93dfbc.vsidx
/.vs/ProjectEvaluation/myplanner.metadata.v7.bin
/.vs/ProjectEvaluation/myplanner.projects.v7.bin
