.project-detail{
    flex:1;
    display:flex;
    flex-direction: column;
    height:100%;
    margin: 0px;
    background:#202731;
}
.project{
    flex:1;
    position:relative;
    display: flex;
    flex-direction: column;
    height:fit-content;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background: #202731;
    color: white;
}
.project-name{
    align-self:center;
    font-weight: bolder;
    font-size:xx-large;
}
.title-and-edit{
    display:flex;
    flex-direction: row;
}
.project-buttons{
    margin-left: 50%;
    display: flex;
    flex-direction: column;
}
.project-button{
    align-self: center;
    font-size: large;
    font-weight:normal;
    font-family: "Montserrat", sans-serif;
    background:#202731;
    color:white;
    margin-bottom: 10%;
    border-radius: 5px;
    border:none;
}
.project-button:hover{
    background:white;
    color:#202731;
}
.branch-title{
    background:#d4d4dd84;
    color:white;
    margin:0;
    padding: 2%;
    border-top-right-radius: 40px;
    padding-bottom: 3%;
    padding-right:1%;
    min-width:20%;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
}
.add-branch-button{
    margin-left:20%;
    margin-top: 5%;
    padding:3%;
    height: fit-content;
    border-radius: 10px;
    background:#d4d4dd84;
    font-family: "Montserrat", sans-serif;
    border: none;
    margin-right: 10%;
}
.add-branch-button:hover{
    background:#e8e8f184;
}
.branch-list{
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns: 18%;
    gap:10px;
    background-color:#d4d4dd84;

    overflow-x: auto;
    overscroll-behavior-x: contain;
    max-height: auto;
    padding-top:1%;
}
.branch-list::-webkit-scrollbar{
    height:0;
}
.branch{
    padding: 5%;
    margin-top: 1%;
    margin-bottom: 0;
    background-color:#86868984;
    color:white;
    border-radius: 100px;
    user-select: none;
    background: #202731;
    display:flex;
    flex-direction: row;
}
.selected-branch{
    background-color: burlywood;
}
.line-section{
    background-color: #d4d4dd84;
    height:20px;
}
.line-start{
    width:1%;
    height:20px;
    background-color: burlywood;
    margin-left:8%;
}
.branch-name:last-child {
    padding-right:100vw;
    margin-right: -100vw;
}
.subtask-list{
    background-color: white;
    flex:1;
}

